*{
     
    font-family: 'Mulish', sans-serif;
    
}
header{
    
flex-shrink: 0;

    margin:0 130px;
    
}
.sec-1-ul{
    list-style-type: none;
}

.nav-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec-1-ul{
    cursor: pointer;
    display: flex;
    gap: 50px;
    color: var(--Dark-02, #424247);
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.company{
    color: #131318;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.journey{
    color: #FF5400;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.home{
    color: #FF5400;
}
.nav-cintain1{
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-cintain1 img{
    width: 48px;
height: 56.008px;
flex-shrink: 0;
}
.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.sec-1{
    border-radius: 16px;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(Images/pic1.png);
background-repeat: no-repeat;
width: 1170px;
height: 500px;
flex-shrink: 0;
}
#select1{
    width: 174px;
    height: 52px;
    border: none;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    font-family: Mulish;
    padding-left: 20px;
    color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#select2{
    width: 174px;
    height: 52px;
    border: none;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    font-family: Mulish;
    padding-left: 20px;
    color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.sec-1-container{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.sec-1-p1{
   margin-bottom: -30px;
    color: #FFF;
font-family: Mulish;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
max-height: max-content;
max-width: max-content;
}
.sec-1-des{
    margin-top: -5px;
    margin-bottom: -40px;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 750px;
}
.sec-1-p3{
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
margin-top: 60px;
}
.sec-1-p3 input{
    width: 174px;
height: 52px;
border: none;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
font-family: Mulish;
padding-left: 20px;
}
.btn-pri{
    cursor: pointer;
    border: none;
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-2{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 100px;
}
.sec-2{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 550px;
}
.sec2-p1{
    margin-top: -50px;
    width: 550px;
height: 100%;
}
.sec2-title{
    color: #131318;
text-align: left;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.sec2-des{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.sec2-ul{
    list-style-type:disc;
}
.sec3-p1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec3-title{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 5px;
}
.sec3-des{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 643px;
}
.img1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 573px;
height: 300px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/img1.png), lightgray 50% / cover no-repeat;
color: #FFF;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.img2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 573px;
height: 300px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/img2.png), lightgray 50% / cover no-repeat;
color: #FFF;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.img3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
width: 374px;
height: 286px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/img3.png), lightgray 50% / cover no-repeat;
}
.img4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
width: 474px;
height: 286px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/img4.png), lightgray 50% / cover no-repeat;
}
.img5{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
width: 274px;
height: 286px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/kasmir.jpg), lightgray 50% / cover no-repeat;
}
.img6{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
width: 473px;
height: 300px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/img6.png), lightgray 50% / cover no-repeat;
}
.img7{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
font-family: Mulish;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
width: 673px;
height: 300px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/banda.jpg), lightgray 50% / cover no-repeat;
}
.sec3-imgp1{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.sec3-imgp2{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.sec3-imgp3{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.sec4-title{
    color: #131318;

font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.sec4-des{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.sec4-p3-1-1{
    padding-bottom: -30px;
    padding-left:30px;
    padding-top: 30px;
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.sec4-p3-1-2{
    padding-bottom: -30px;
    padding-left:30px;
    padding-top: 30px;
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.sec4-p3-2-1{
    padding-bottom: -30px;
    padding-left:30px;
    padding-top: 30px;
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
}
.sec4-p3-1{
    display: flex;
    gap: 20px;
}
.section-4{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sec4-p3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.sec4-p3-2{
    margin-top: 20px;
}

.sec5-title{
    width: 448px;
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px; /* 150% */
}
.sec5-des{
    width: 532px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.sec5-p1 ul{
    width: 518px;
    color: #131318;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
}
/* .sec5-p2{
    border-radius: 20px;
     width: 610px;
height: 424px;
flex-shrink: 0;
} */
.sec5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.section-5{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2-p2{
    
    width: 540px;
height: 550px;
flex-shrink: 0;
}
.sec5-p2 video{
    height: 400px;
            flex-shrink: 0;border-radius: 20px 20px 20px 20px;

}
.sec6-title{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.sec6-des{
    width: 350px;
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.sec6-p1 input{
    border: none;
    width: 393px;
    gap: 5px;

flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
color: rgba(19, 19, 24, 0.30);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 20px;
}
#sec6btn{
    width: 432px;
height: 52px;
flex-shrink: 0;border-radius: 8px;
}
.sec6-p1{
    width: 474px;
height: 422px;
padding-left: 30px;
    border-radius: 16px;
border: 1px solid #FF5400;

}
.sec6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.section-6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
hr{
    width: 450px;position: relative;left: -20px;
            height: 0.5px; background: rgba(19, 19, 24, 0.10);
}
.sec6-p2{
    width: 672px;
height: 422px;
flex-shrink: 0;
border-radius: 16px;
background: url(Images/sec6p.png), lightgray 50% / cover no-repeat;
}
.offer{
    position: relative;
    top:250px;
    left: 330px;
    width: 324px;
height: 120px;
transform: rotate(-19.628deg);
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
}
.of-title{
    color: #FFF;
                text-align: center;
                padding-top: 10px;
                margin-bottom: -5px;
                font-family: Mulish;
                font-size: 24px;
                margin: 0px;
                font-weight: 400;
}
.of-des{
    color: #FFF;
            font-family: Mulish;
            font-size: 35px;
            margin: 8px;
            padding-bottom: 0px;
            text-align: center;
            font-style: normal;
            font-weight: 800;
            
}
.footer{
    background: rgba(19, 19, 24, 0.05);
    width: 1440px;
    height: 502px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.footer-des{
    color: #5A5A5D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 769px;
}
.footer-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}
.foot1{
    display: flex;
}
.span1{
    color: #FF5400;
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.h2-foot{
    color: var(--Dark-01, #131318);
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.foot-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.foot-contain img{
    margin-left: -5px;
}
.copyright{
    color: #131318;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.foot-hr{
    width: 872px;
height: 1px;
margin-top: 30px;
}
.foot-icon{
    display: flex;
    gap: 20px;
}













@media screen and (max-width:600px){
    .nav-container{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
        margin-left: -30px;
    }
    .sec-1{
        width: 335px;
        height: 483px;
       
        border-radius: 16px;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(Images/pic1.png);
    }
    .sec-1-p1{
        color: hsl(0, 0%, 100%);
margin-top: 5px;
font-family:Mulish ;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    .sec-1-des{
        margin-top: 7px;
        width: 304px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0px;
    }
    .sec-1-p3{
        flex-direction: column;
        gap: 10px;

        width:287px;
        margin-top: 3px;
    }
    .sec-1-ul{
        margin-left: -50px;
    }
    .sec-1-p3 input{
        width: 255px;
        font-size: 16px;
    }
    .sec-1-p3 button{
        width: 277px;
    }

    .sec-2{
        width: 335px;
        flex-direction: column;
        margin: 0 auto;

    }
    .sec2-title{
        color: #131318;
text-align: left;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    .sec2-des{
        color: #5A5A5D;
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
    }
    .sec2-p1{
        width: 335px;
    }
    #sec2-btn{
        width: 174px;
height: 52px;
flex-shrink: 0;
    }
    .sec2-p2 img{
        margin-top: 60px;
        width: 335px;
height: 342px;
flex-shrink: 0;
    }

    .sec3-imgp1,.sec3-imgp2,.sec3-imgp3{
        flex-direction: column;
    }
    .sec3-title{
        color: #131318;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    .sec3-des{
        width: 335px;
        color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
    }
    .section-3{
        margin-top: 100px;
        width: 335px;
        display: flex;margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec3{
        margin-top: 400px;
    }
    .img1,.img2,.img3,.img4,.img5,.img6,.img7{
        width: 335px;
height: 176px;
flex-shrink: 0;
background-repeat: no-repeat;

    }
    .sec4-p3-1{
        flex-direction: column;
    }
    .sec4-title{
        color: #131318;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    .sec4-des{
        width: 309px;
    }
    .sec4-p3-1-1{
        width: 335px;
height: 289px;
flex-shrink: 0;
    }
    .sec4-p3-1-2{
        width: 335px;
height: 289px;
flex-shrink: 0;
    }
    .sec4-p3-2-1{
        width: 335px;
height: 289px;
flex-shrink: 0;
    }
    .section-4{
        margin-top: 20px;
    }
    .sec5{
        flex-direction: column;
        gap: 30px;
    }
    .sec5-title{
        width: 248px;
        color: #131318;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: 30px; /* 150% */
    }
    .sec5-des{
        width: 335px;
        color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
    }
    .sec5-p1 ul{
        width: 335px;
    }
    .sec5-p2 video{
        width: 335px;
        height:190px;

    }
    .sec6{
        flex-direction: column;
        gap: 50px;
    }
    .sec6-p1{
         width: 350px;
height: 410px;
flex-shrink: 0;
padding-left: 20px;
    }
    .sec6-des{
        width: 270px;
    }
    .sec6-p1 input{
        width: 288px;
height: 52px;
flex-shrink: 0;
    }
    hr{
        position: relative;
        width: 350px;
        left: -10px;
height: 1px;
    }
    #sec6btn{
        width: 328px;
    }
    .sec6-p2{
        width:355px;

    }
    .offer{
        width: 214px;
    height: 80px;
    position: relative;
    top: 310px;
    left: 135px;
    }
    .of-des{
        font-size: 22px;
    }
    .of-title{
        font-size: 16px;
    }
    #select1 {
        width: 277px;
    }
    #select2 {
        width: 277px;
    }
    .footer{
        width: 375px;
        height: 360px;
    }
    .footer-des{
        width: 287px;
        font-size: 14px;
    }
    .h2-foot{
        font-size: 22px;
    } 
    .span1{
        font-size: 22px;
    }
    .foot-contain img{
        margin-top: 60px;
    }
    .h2-foot {
        margin-top: 70px;
    }
    .foot-hr{
        width: 350px;
        margin-right: 0px;
    }
    .copydiv{
        margin: 0px;
    }

}